
html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: #dfdfdf;
  font-family: 'Alegreya', serif;
}

h1 {
  font-family: 'Alegreya', serif;  
}

h2, figcaption {
  font-family: "Alegreya Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-size: 1.2rem;
}

blockquote, blockquote p {
  color: #333;
}

.logotype {
  color: #fff;
}

.cover {
  float: left;
  margin-left: 0;
}

.off-canvas-content {
  background: transparent;
}

.main {
  background-color: #ececec;
  padding: 2rem 2rem;
}

#main-menu ul li a {
  color: #fff;
}

.top-bar, .top-bar ul {
  background-color: #333;
}

.dropdown.menu .submenu {
  background-color: #333;
  text-align: left;
}
